# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# VSCode / IDE settings
.vscode/
.idea/

# Logs and database
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# Streamlit specific
.streamlit/

# Python packaging
pip-wheel-metadata/
__pypackages__/
